body{
	background-color: #fff !important;
}
.btn-primary {
    color: #fff !important;
    background-color: #166ead !important;
    border-color: #166ead !important;
}
.btn-outline-primary {
    color: #166ead !important;
    background-color: transparent;
    background-image: none;
    border-color: #166ead !important;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
     -webkit-box-shadow: none !important; 
     box-shadow:none !important; 
}
.btn-info {
    color: #fff !important;
    background-color: #166ead !important;
    border-color: #166ead !important;
}
.form-control {
  	height: 47px !important;
}
.login-btn-section{
  /*margin-bottom: 10px;*/
}
.custom-caurosal .carousel-indicators .active {
    /*background-color: #166ead !important;*/
     background-color:#000 !important;
}
.custom-caurosal .carousel-indicators li {
    /*background-color: rgb(159, 187, 207) !important;*/
    background-color:#fff !important;
}
.custom-first-slider{
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.second-slide-content h5{
	font-weight: 400;
}
.custom-second-slider{
	padding: 30px 0;
}
.custom-carousel-control-prev .carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    bottom: 12px;
}
.custom-carousel-control-prev .carousel-control-prev-icon {
    background-image: none !important;
    /*background-color: #000 !important;*/
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.custom-carousel-control-prev .carousel-control-prev-icon, .carousel-control-next-icon {
     width: unset !important;
     height: unset !important;
}

.custom-carousel-control-next .carousel-control-next-icon, .carousel-control-next-icon {
    position: absolute;
    bottom: 12px;
}
.custom-carousel-control-prev .carousel-control-prev-icon,
.custom-carousel-control-next .carousel-control-next-icon {
    background-image: none !important;
    /*background-color: #000 !important;*/
    border: 1px solid #fff !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 10px 26px;
    width: 110px !important;
}
.modal-footer .carousel-control-prev, .carousel-control-next {
     opacity: unset !important;
}


textarea.form-control {
    height: auto !important;
}

.custom-btn-info-res{
    background-color: transparent;
    border-color: transparent;
    color: #000;
}

.custom-dropdown-toggle::after {
    right: -5px !important;
}


.navbar .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 331px;
  max-height: 360px;
  right: 0 !important;
  left: unset !important;
}
.navbar .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  /*padding: 10px 0px 5px 0px;*/
    padding: 10px 15px 6px 7px;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
  background-color: #fff !important;
  padding-left: 0px !important;
}
.navbar .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}
.custom-modal-content{
  width: 850px;
}
.custom-dashboard-navbar{
  padding: 4px 30px !important;
  margin-bottom: 0px !important;
}
.headline-contents{
    border-top: 1px solid #ccc;
    padding: 11px;
    background-color: #fafafa;
}
.headline-contents h2{
  font-size: 17px;
  margin-top: 6px;
}

.navbar-nav .custom-dashboard-nav-link i{
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-top: 9px;
  margin-right: 10px;
}
.dashboard-carousel-section{
  height: 480px;
  background-color: #fff;
}
.dashboard-home-image{
  width: 640px;
}
.product-edit-btn{
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}
.custom-dropdwon-toogle-filter::after {
  right: 5px !important;
}
.custom-primary:not(:disabled):not(.disabled):active, .custom-primary:not(:disabled):not(.disabled).active, .show > .custom-primary.dropdown-toggle {
    color: #3490dc !important;
    background-color: #fff !important;
    border-color: #3490dc !important;
}
.custom-primary:hover {
    color: #3490dc !important;
    background-color: #fff !important;
    border-color: #3490dc !important;
}
.product-delete-btn{
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}
@media(max-width: 768px){
  .login-btn-section{
    margin-bottom: 10px;
  }
  .responsive-headline-contents h2 {
    margin-bottom: 20px;
  }
  .register-headline{
    font-size: 21px;
  }
  .register-headline-content{
    font-size: 16px;
  }
  .custom-dashboard-navbar{
    /*padding: 10px 30px !important;*/
    padding: 10px 15px !important;
  }
  .custom-modal-content {
    width: 100%;
  }
  .carousel-control-next {
    right: 35px;
  }
  .carousel-control-prev {
    left: 35px;
  }
  .carousel-indicators li {
    width: 3px !important;
  }
  .custom-search-input{
    width: 180px;
    margin-right: 10px;
  }
  .navbar-nav .custom-dashboard-nav-link i{
    padding-left: 10px;
  }
  .dashboard-nav-list{
    padding-left: 13px;
  }
  .dashboard-nav-list .dropdown-toggle::after {
    display: none !important;
  }
  .navbar .dropdown-menu.notify-drop {
    min-width: 300px;
  }
  .dashboard-carousel-section{
    height: 480px;
    background-color: #fff;
    overflow: auto !important;
  }
  .dashboard-home-image{
    width: 320px;
  }
  .headline-content{
    font-size: 17px;
  }
  .product-edit-btn{
    /*margin-bottom: 10px;*/
  }
  .dashboard-nav-list{
    display: none !important;
  }
  .custom-btn-info-res:not(:disabled):not(.disabled):active, .custom-btn-info-res:not(:disabled):not(.disabled).active, .show > .custom-btn-info-res.dropdown-toggle {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .custom-btn-info-res:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none;
  }
  .custom-btn-info{
    display: none;
  }
  #sidebar{
    display: none;
  }



  

}




