body{
	background-color: #fff !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

/*----------------------[Buttons]--------------------------*/
.btn-light {
  background: #fff;
  border: 1px solid #d4d4d4;
  height: 34px;
}

.btn-primary {
    color: #fff !important;
    background-color: #1B6DAB  !important;
    border-color: #1B6DAB !important;
    border-radius: 2px;
    font-size: 12px;
    height: 34px;
    padding: 6px 20px;
    transition: all .3s;
}

.btn-outline-danger {
    font-size: 12px;
    height: 34px;
    padding: 6px 20px;
    color: #e3342f;
    background-color: transparent;
    background-image: none;
    border-color: #e3342f;
}
.btn-secondary {
    font-size: 12px;
    height: 34px;
    padding: 6px 20px;
}
.btn{
    border-radius: unset !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.custom-search-sec-btn {
    color: #333;
    background-color: #fff !important;
    border-color: #fff !important;
    border-radius: unset !important;
}
.custom-search-sec-btn:hover {
    color: #333;
    background-color: #fff !important;
    border-color: #fff !important;
    border-radius: unset !important;
}
.custom-search-sec-btn:not(:disabled):not(.disabled):active, .custom-search-sec-btn:not(:disabled):not(.disabled).active, .show > .custom-search-sec-btn.dropdown-toggle {
    color: #333;
    background-color: #fff !important;
    border-color: #fff !important;
    border-radius: unset !important;
}
.btn-outline-primary {
    color: #166ead !important;
    background-color: transparent;
    background-image: none;
    border-color: #166ead !important;
    border-radius: unset !important;
    font-size: 12px;
    height: 34px;
    padding: 6px 20px;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
     -webkit-box-shadow: none !important;
     box-shadow:none !important;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #166ead !important;
    border-color: #166ead !important;
}
.btn-info {
    color: #fff !important;
    background-color: #166ead !important;
    border-color: #166ead !important;
    border-radius: unset !important;
}

/*----------------------[Checkbox]--------------------------*/

.custom-checkbox .custom-control-label::before {
    display: block;
    width: 22px;
    height: 22px;
    background-color: #f9fafb;
}
.custom-checkbox .custom-control-label::after {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-radio .custom-control-label::before {
    width: 22px;
    height: 22px;
    background-color: #f9fafb;
}
.custom-radio .custom-control-label::after {
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/*----------------------[modals]--------------------------*/

.modal-content {
    height: 100vh;
    border-radius: 0px !important;
}
.modal {
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    left: auto !important;
}
.modal.show .modal-dialog {
    height: 100vh;
    max-width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /*margin-right: 0px !important;*/
}

.modal.welcome-enqubyte-modal  {
    width: 100% !important;
}

.modal.welcome-enqubyte-modal.show .modal-dialog {
    margin-right: auto !important;
    max-width: fit-content !important;
}

.welcome-enqubyte-modal.show .custom-modal-content {
     height: unset !important;
}
.welcome-enqubyte-modal.show .modal-content {
     height: 80vh !important;
}
/*----------------------[Forms]--------------------------*/

.form-group .input-group-append {
    height: 34px;
}
.form-control {
  	height: 34px !important;
    padding: 0px 10px;
    font-size: 12px;
    color: #333 !important;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #e5e5e5 !important;
    border-radius: 0px
}
.form-group label{
  margin-bottom: 5px !important;
}
input, select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: -1px;
    padding: 0px 0px;
    font-size: 12px;
    color: #333 !important;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #e5e5e5 !important;
    border-radius: 0px;
    height: 30px;
}
.filter-form-section .form-group {
    margin-bottom: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #958a8a !important;
}
.select2-container .select2-selection--single {
    height: 34px !important;
    padding: 5px 10px;
    font-size: 12px;
    color: #333 !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5 !important;
    border-radius: 2px !important;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a1cbef;
    outline: 0;
     -webkit-box-shadow: unset !important;
     box-shadow: none !important;
}
.form-control.form-control-sm {
    height: 30px !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: ffff19;
  opacity: 1;
}

/*----------------------[Card]--------------------------*/

.card{
  border-radius: 0px !important;
  /*border:1px solid #f0f0f0 !important;*/
}
.card-footer {
    text-align: right;
}

/*----------------------[tabs]--------------------------*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000;
    border-bottom: 2px solid #166ead;
    border-radius: 0px;
    background-color: #fff !important;
}

/*----------------------[Text]--------------------------*/

.text-primary {
    color: #166ead !important;
}
.custom-primary-text{
  font-size: 20px;
}
h3.Due{
  font-size: 20px !important;
}

/*----------------------[Table]--------------------------*/

.table tr > th {
  font-size: 11px;
  border-bottom: 0 !important;
  background: #fdfdfd;
  height: 35px;
  vertical-align: middle;
  line-height: 10px;
  text-transform: uppercase;
}
/*.table th {
     border-top: none !important;
}*/
.table tbody > tr > td{
  padding: 30px 20px !important;
  line-height: 1.42857;
  vertical-align: middle;
  /*text-align: center;*/
}
table.dataTable.no-footer {
  border-bottom: 1px solid #f0f0f0 !important;
}
table.dataTable thead th{
    /*text-align: center;*/
}
.dataTables_info{
  padding: 21px !important;
  padding-top: 19px !important;
  border-bottom: 1px solid #f0f0f0 !important;
  width: 100%;
  font-size: 12px;
}

.table th, .table td {
    border-top: 1px solid #f0f0f0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table.invoice-show-tbl tr th{
    padding: 22px 18px;

}

.table.total-tbl tbody > tr > td {
    padding: 15px 20px !important;
}
.table.total-tbl{
  margin-bottom: 0px;
  margin-top: 35px;
}

.custom-show-table tr th{
  border-top: none !important;
  padding: 22px 18px;
}

.reports-show-puroduct-purchaes tr th{
  padding: 22px 18px;
}
/*.table.invoice-show-tbl tr td{
    border-bottom: 1px solid #dee2e6;
}*/


/*----------------------[Forms Footer]--------------------------*/

.subTotalAmount{
  font-size: 16px;
}
.grandTotalAmount{
  font-size: 17px !important;
}
.expenses-txt h3{
  font-size: 18px;
}
.expenses-txt h4{
  font-size: 18px;
  margin-bottom: 0px;
}
.user-signin-account{
    width:90%;
    margin-top: 17vh;
}
.login-btn-section{
  /*margin-bottom: 10px;*/
}
.user-login-image-section{
  background: #1b6dab9c !important;
  /*height: 100vh;*/
}
.user-login-input-custom{
  width: auto !important;
}
.input-group-append-button span{
  height: 53px;
}

.custom-caurosal .carousel-indicators .active {
    /*background-color: #166ead !important;*/
     background-color:#000 !important;
}
.custom-caurosal .carousel-indicators li {
    /*background-color: rgb(159, 187, 207) !important;*/
    background-color:#fff !important;
}
.custom-first-slider{
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.second-slide-content h5{
	font-weight: 400;
}
.custom-second-slider{
	padding: 30px 0;
}
.custom-carousel-control-prev .carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    bottom: 12px;
}
.custom-carousel-control-prev .carousel-control-prev-icon {
    background-image: none !important;
    /*background-color: #000 !important;*/
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}
.custom-carousel-control-prev .carousel-control-prev-icon, .carousel-control-next-icon {
     width: unset !important;
     height: unset !important;
}

.custom-carousel-control-next .carousel-control-next-icon, .carousel-control-next-icon {
    position: absolute;
    bottom: 12px;
}
.custom-carousel-control-prev .carousel-control-prev-icon,
.custom-carousel-control-next .carousel-control-next-icon {
    background-image: none !important;
    /*background-color: #000 !important;*/
    border: 1px solid #fff !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 10px 26px;
    width: 110px !important;
}
.modal-footer .carousel-control-prev, .carousel-control-next {
     opacity: unset !important;
}

.headline-border-bottom{
  border-bottom: solid 1px #f0f0f0;
}

textarea.form-control {
    height: auto !important;
}

.custom-btn-info-res{
    background-color: transparent;
    border-color: transparent;
    color: #000;
}

.custom-dropdown-toggle::after {
    right: -5px !important;
    display: none !important;
}

nav.navbar.fixed-top {
    left: 250px !important;
}
.dashboard-all-content-section{
  margin-top: 55px !important;
}

.navbar-search-icon{
  color: #d2cccc;
  padding: 9px;
  margin-top: 0px;
  margin-right: -7px;
  font-size: 12px;
}

.custom-search-input{
  border:none !important;
  outline: transparent !important;
  font-size: 14px;
  width: 455px !important;
  margin-top: -2px;
  padding-top: 0px;
  padding-left: 5px;
}

.navbar .dropdown-menu.notify-drop {
  min-width: 450px;
  background-color: #fff;
  min-height: 331px;
  max-height: 360px;
  right: 0 !important;
  left: unset !important;
}
.navbar .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  /*padding: 10px 0px 5px 0px;*/
    padding: 10px 15px 6px 7px;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
  background-color: #fff !important;
  /*padding-left: 0px !important;*/
}
.navbar .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}
.custom-modal-content{
  width: 850px;
}
.custom-dashboard-navbar{
  padding: 3px 4px !important;
  margin-bottom: 0px !important;
}
.headline-contents{
  /*border-top: 1px solid #ccc;*/
  /*padding: 11px;*/
  background-color: #fafafa;
  padding: 11px 15px;
  align-items: center;
  height: 56px;
  background: #fafafa !important;
  border-bottom: solid 1px #f0f0f0;
  box-shadow: none !important;
}
.headline-contents h2 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    vertical-align: -webkit-baseline-middle;
    margin-top: -2px !important;
}

.headline-contents:after {
    content: '';
    clear: both !important;
    display: block;
}

.navbar-nav .custom-dashboard-nav-link i{
  color: rgb(0, 0, 0);
  font-size: 25px;
  /*margin-top: 9px;*/
  /*margin-right: 10px;*/
}
.dashboard-carousel-section{
  height: 480px;
  background-color: #fff;
}
.dashboard-home-image{
  width: 640px;
}
.product-edit-btn{
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.btn-group .btn{
  padding: 4px 10px !important;
}

.custom-dropdwon-toogle-filter::after {
  right: 5px !important;
}
.custom-primary:not(:disabled):not(.disabled):active, .custom-primary:not(:disabled):not(.disabled).active, .show > .custom-primary.dropdown-toggle {
    color: #3490dc !important;
    background-color: #fff !important;
    border-color: #3490dc !important;
}
.custom-primary:hover {
    color: #3490dc !important;
    background-color: #fff !important;
    border-color: #3490dc !important;
}
.product-delete-btn{
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}
.navbar-cust-icons{
    padding: 2px !important;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50%;
    margin-top: 8px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    /*margin-right: 17px;*/
    /*padding-left: 17px !important;*/
}
.custom-font-icons{
  font-size: 12px !important;
  /*padding: 3px;*/
}
/*.nav-right-circle-btn {
    margin: 5px;
}*/
a.upgrade-product-nav p{
    font-size: 11px;
    margin-top: 4px !important;
    color: #166ead;
    text-transform: uppercase;
    border: 1px solid #166ead;
    padding: 2px 15px;
}
.navbar-light .navbar-nav .nav-link.right-navbar-border::after {
    content: '';
    border-right:1px solid #ccc;
}
.notification-dropdown-icon a{
    padding-left: 0px !important;
}
.notification-dropdown-icon a img{
    width: 25px;
}
.notification-dropdown .notification-days span{
    color: #999;
    font-weight: 100;
    font-size: 10px;
    float: right;
}
.notification-reminder h6{
    font-size: 10px;
    color: #166ead;
}
.notification-reminder p{
    font-size: 13px !important;
}
.notification-user-initial{
    background-color: rgb(22, 110, 173) !important;
    padding: 5px !important;
    color: #fff !important;
}
.status-user-amount-desktop{
    display: block;
}
.status-user-amount-responsive{
    display: none !important;
}
.modal-product-popup-section img{
    width: 35px !important;
}

@media(max-width: 768px){
  .login-btn-section{
    margin-bottom: 10px;
  }
  .responsive-headline-contents h2 {
    margin-bottom: 20px;
  }
  .register-headline{
    font-size: 21px;
  }
  .register-headline-content{
    font-size: 16px;
  }
  .custom-dashboard-navbar{
    /*padding: 10px 30px !important;*/
    padding: 10px 15px !important;
  }
  .custom-modal-content {
    width: 100%;
  }
  .carousel-control-next {
    right: 35px;
  }
  .carousel-control-prev {
    left: 35px;
  }
  .carousel-indicators li {
    width: 3px !important;
  }
  .custom-search-input{
    width: 180px;
    margin-right: 10px;
  }
  .navbar-nav .custom-dashboard-nav-link i{
    padding-left: 10px;
  }
  .dashboard-nav-list{
    padding-left: 13px;
  }
  .dashboard-nav-list .dropdown-toggle::after {
    display: none !important;
  }
  .navbar .dropdown-menu.notify-drop {
    min-width: 300px;
  }
  .dashboard-carousel-section{
    height: 480px;
    background-color: #fff;
    overflow: auto !important;
  }
  .dashboard-home-image{
    width: 320px;
  }
  .headline-content{
    font-size: 17px;
  }
  .product-edit-btn{
    /*margin-bottom: 10px;*/
  }
  .dashboard-nav-list{
    display: none !important;
  }
  .custom-btn-info-res:not(:disabled):not(.disabled):active, .custom-btn-info-res:not(:disabled):not(.disabled).active, .show > .custom-btn-info-res.dropdown-toggle {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .custom-btn-info-res:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none;
  }
  .custom-btn-info{
    display: none;
  }
  #sidebar{
    display: none;
  }
}


.plan {
    border: 2px solid rgba(27, 109, 171, 0.61);
    padding: 15px;
    padding-bottom: 3px;
    /*width: 50%;*/
    text-align: center;
    margin-bottom: 20px;
}

.plan p {
  font-weight: bold;
}

.bg-primary {
    background-color: #166ead !important;
}

.auth-container {
      height: 100vh;
}

.auth-container .form-group .input-group-append {
    height: 52.5px;
}

.auth-container .form-control{
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem;
    border: 1px solid #868686 !important;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    color: #1d1c1d;
    width: 100%;
    max-width: 100%;
    margin: 0 0 .5rem;
    font-variant-ligatures: none;
    -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    box-shadow: none;
    height: auto !important;
}

.auth-container .btn {
    height: 50px;
    padding-top: 8px;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 35px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff !important;
    border: none;
    border-radius: 7px !important;
}

.modal-product-popup-section p {
  color: #000;
  font-weight: 400;
  font-size: 17px;
}

.list-group.no-rounded-corners .list-group-item{
    border-radius: 0;
}

.card-body .list-group.no-rounded-corners .list-group-item
{
  border: none;
  border-bottom: 1px solid #ddd;
}

.chart-overlay {
      position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff6;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chart-overlay p{
  color: #000;
    font-weight: 400;
}

.bg-light {
  background: #fafafa !important;
}