@media(max-width: 768px){
  .login-btn-section{
    margin-bottom: 10px;
  }
  .responsive-headline-contents h2 {
    margin-bottom: 20px;
  }
  .register-headline{
    font-size: 21px;
  }
  .register-headline-content{
    font-size: 16px;
  }
  .custom-dashboard-navbar{
    /*padding: 10px 30px !important;*/
    padding: 10px 15px !important;
  }
  .custom-modal-content {
    width: 100%;
  }
  .carousel-control-next {
    right: 35px;
  }
  .carousel-control-prev {
    left: 35px;
  }
  .carousel-indicators li {
    width: 3px !important;
  }
  .custom-search-input{
    width: 180px;
    margin-right: 10px;
  }
  .navbar-nav .custom-dashboard-nav-link i{
    padding-left: 10px;
  }
  .dashboard-nav-list{
    padding-left: 13px;
  }
  .dashboard-nav-list .dropdown-toggle::after {
    display: none !important;
  }
  .navbar .dropdown-menu.notify-drop {
    min-width: 300px;
  }
  .dashboard-carousel-section{
    height: 480px;
    background-color: #fff;
    overflow: auto !important;
  }
  .dashboard-home-image{
    width: 320px;
  }
  .headline-content{
    font-size: 17px;
  }
  .product-edit-btn{
    /*margin-bottom: 10px;*/
  }
  .dashboard-nav-list{
    display: none !important;
  }
  .custom-btn-info-res:not(:disabled):not(.disabled):active, .custom-btn-info-res:not(:disabled):not(.disabled).active, .show > .custom-btn-info-res.dropdown-toggle {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .custom-btn-info-res:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none;
  }
  .custom-btn-info{
    display: none;
  }
  #sidebar{
    display: none;
  }

  /****************** Buttons***********************/
  .btn-primary {
    padding: 6px 12px;
  }
  .responsive-btn-outline-danger{
    margin-bottom: 10px;
  }

  /****************** Header***********************/
  .headline-contents {
    height: 90px;
  }
  .headline-contents h2 {
    margin-bottom: 10px;
  }
  h3.Due {
    font-size: 13px !important;
  }
  h3.custom-primary-text {
    font-size: 13px;
    line-height: 22px;
  }
  .custom-primary-text {
    font-size: 13px;
  }
  .text-size-heading{
    font-size: 14px;
  }
}
