@media(max-width: 768px){
  .login-btn-section{
    margin-bottom: 10px;
  }
  .login-logo-section{
    text-align: center;
  }
  .custom-password-reset-btn{
    padding-top: 3px !important;
    padding-left: 17px !important;
  }
  .user-login-input-custom{
    width: 50% !important;
  }
  .user-login-image-section{
    display: none !important;
  }
  .input-group-append-button span {
    height: 50px;
  }
  .user-signin-account {
    width: 100%;
    margin-top: 3vh;
    text-align: center;
  }
  .user-signin-account h1{
    font-size: 30px;
    margin-top: 32px;
  }
  .responsive-headline-contents h2 {
    margin-bottom: 20px;
  }
  .register-headline{
    font-size: 21px;
  }
  .register-headline-content{
    font-size: 16px;
  }
  .dashboard-all-content-section {
    margin-top: 58px !important;
  }
  .custom-dashboard-navbar{
    /*padding: 10px 30px !important;*/
    padding: 10px 15px !important;
  }
  .custom-modal-content {
    width: 100%;
  }
  .carousel-control-next {
    right: 35px;
  }
  .carousel-control-prev {
    left: 35px;
  }
  .carousel-indicators li {
    width: 3px !important;
  }
  .custom-search-input{
    width: 180px;
    margin-right: 10px;
  }
  .navbar-nav .custom-dashboard-nav-link i{
    padding-left: 10px;
  }
  nav.navbar.fixed-top {
    left: 0 !important;
    /*z-index: -1 !important;*/
  }
  .dashboard-nav-list{
    padding-left: 13px;
  }
  .dashboard-nav-list .dropdown-toggle::after {
    display: none !important;
  }
  .navbar .dropdown-menu.notify-drop {
    min-width: 300px;
  }
  .dashboard-carousel-section{
    height: 480px;
    background-color: #fff;
    overflow: auto !important;
  }
  .dashboard-home-image{
    width: 320px;
  }
  .headline-content{
    font-size: 17px;
  }
  .product-edit-btn{
    /*margin-bottom: 10px;*/
  }
  .dashboard-nav-list{
    display: none !important;
  }
  .custom-btn-info-res:not(:disabled):not(.disabled):active, .custom-btn-info-res:not(:disabled):not(.disabled).active, .show > .custom-btn-info-res.dropdown-toggle {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .custom-btn-info-res:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none;
  }
  .custom-btn-info{
    display: none;
  }
  #sidebar{
    display: none;
  }
  #sidebars {
    z-index: 1031 !important;
  }

  /****************** Buttons***********************/
  .btn-primary {
    padding: 6px 10px;
  }
 /* .responsive-btn-outline-danger{
    margin-bottom: 10px;
  }
*/
/****************** Modal***********************/

  .modal.show .modal-dialog {
    margin-right: none;
  }
  .modal {
    width: 100%;
  }
  .welcome-enqubyte-modal.show .modal-content {
    height: 100vh !important;
  }
  .modal.welcome-enqubyte-modal.show {
    top: 5px !important;
    right: 4px !important;
    bottom: 4px !important;
  }
  .modal-content {
    height: unset;
    /*border-radius: 0px !important;*/
  }

  /****************** Nvbar***********************/

  .navbar-search-icon{
    position: absolute;
    font-size: 12px;
  }
  .custom-search-input{
    font-size: 12px;
    padding-left: 26px;
  }

/****************** Forms***********************/
  .filter-form-section input{
    margin-bottom: 10px;
  }

/****************** Tabs***********************/
  .nav-link {
    padding: 14px;
  }

  /****************** Header***********************/
  .headline-contents {
    height: 50px;
  }

  .headline-contents-height{
    height: 90px !important;
  }

  .custom-back-btn{
    margin-top: -3px;
  }

  .headline-contents h2 {
    margin-bottom: 6px;
  }
  h3.Due {
    font-size: 13px !important;
  }
  h3.custom-primary-text {
    font-size: 13px;
    line-height: 22px;
  }

/****************** Print***********************/

.invoice-box {
    padding: 0px !important;
  }
  .print-company-logo{
    text-align: center !important;
  }
  .invoice-box table tr.information table td {
    text-align: center !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
  }
  .invoice-box table tr.total td:nth-child(3) {
    font-weight: 100 !important;
  }
  .invoice-box table tr.information table td {
    font-size: 13px;
  }
  .invoice-box table tr.top table td {
    font-size: 13px;
  }
  .invoice-box table tr.heading td {
    font-size: 14px;
  }
  .dueAmount {
    font-size: 15px !important;
  }
  .invoice-print-heading{
    font-weight: bold !important;
    font-size: 18px;
  }
  .invoice-box table {
    font-size: 14px !important;
  }
  /*.invoice-box table td {
    font-size: 14px !important;
  }*/
  .custom-today-followups{
    height: 407px;
  }
  .custome-due-invoice{
    height: 407px;
  }
  .custom-dashboard-info-icon{
    margin-top: 60px !important;
  }
  .custom-primary-text {
    font-size: 13px;
  }
  .text-size-heading{
    font-size: 14px;
  }
  .invoice-box {
    padding: 25px;
  }
  .expenses-txt h4 {
    font-size: 11px;
  }
  .expenses-txt h3 {
    font-size: 15px;
  }
  .purchaes-order-record-payment{
    font-size: 12px;
    margin-bottom: 0px;
    color: #212529;
  }
  .status-user-amount-desktop{
    display: none;
  }
  .status-user-amount-responsive{
    display: block !important;
  }
  .customuploadButton{
    margin-top: 0px !important;
  }
  label.setting-upload-photo{
    display: none !important;
  }
  .responsive-uploadButton-purchase{
    margin-top: 10px !important;
  }

}
