@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ebeff4;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: #d7e0ea;
    color: #000;
    text-align: center;
}
#sidebar .sidebar-header img{
    height: 55px;
}
#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 12px 20px;
    font-size: 1.1em;
    display: block;
    color: #4d6575;
}

#sidebar ul li a:hover {
    color: #166ead;
    /*font-weight: 500;*/
    /*background: #fff;*/
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /*background: #136acd;*/
    font-weight: 500;
    color: #166ead;
}
#sidebar ul li a img {
    width: 25px;
    margin-right: 10px;
    margin-top: -5px;
}

#sidebar ul li.active a .sidebar-icon{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#sidebar ul li a .active-icon {
    display: none;
}

#sidebar ul li a .inactive-icon {
    display: inline-block;
}

#sidebar ul li a:hover .inactive-icon, #sidebar ul li.active a .inactive-icon {
    display: none;
}

#sidebar ul li a:hover .active-icon, #sidebar ul li.active a .active-icon {
    display: inline-block;
}

#sidebar ul li.active a .sidebar-icon.dashboard{
    background-image: url();
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    /*font-size: 0.9em !important;*/
    padding-left: 30px !important;
    background: #ebeff4;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

ul.social-links {
    position: absolute;
    bottom: 0;
    right: 5px;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    border-top: 1px solid #ccc;
}

ul.social-links li {
    display: inline-block;
}
#sidebar ul.social-links li a {
    padding: 10px;
}
#sidebar ul.social-links li img{
    width: 15px !important;
    margin: 0 !important;
}
#sidebars{
    display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /*padding: 40px !important;*/
    padding: 0px !important;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
}

#content.active {
    width: 100%;
}
.custom-btn-info-res{
    display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebars{
        display: block;
    }
    .custom-btn-info-res{
        display: block;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }


#dismiss {
    width: 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#sidebars ul.social-links li a {
    padding: 10px;
}
#sidebars ul.social-links li img{
    width: 15px !important;
    margin: 0 !important;
}

#sidebars {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #ebeff4;
    color: #fff;
    transition: all 0.3s;
}

ul.social-links {
    bottom: -17px;
}
#sidebars .sidebar-header {
    padding: 5px;
    background: #d7e0ea;
    color: #000;
    text-align: center;
    margin-left: -30px;
}
#sidebars .sidebar-header img{
    height: 48px;
}
#sidebars ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebars ul p {
    color: #fff;
    padding: 10px;
}

#sidebars ul li a {
    padding: 12px 20px;
    font-size: 1.1em;
    display: block;
    color: #4d6575;
}

#sidebars ul li a:hover {
    color: #166ead;
    font-weight: 500;
    /*background: #fff;*/
}

#sidebars ul li.active>a,
a[aria-expanded="true"] {
    /*background: #136acd;*/
    font-weight: 500;
    color: #166ead;
}
#sidebars ul li a img {
    width: 25px;
    margin-right: 10px;
    margin-top: -5px;
}

#sidebars ul li.active a .sidebar-icon{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#sidebars ul li a .active-icon {
    display: none;
}

#sidebars ul li a .inactive-icon {
    display: inline-block;
}

#sidebars ul li a:hover .inactive-icon, #sidebars ul li.active a .inactive-icon {
    display: none;
}

#sidebars ul li a:hover .active-icon, #sidebars ul li.active a .active-icon {
    display: inline-block;
}

#sidebars ul li.active a .sidebar-icon.dashboard{
    background-image: url();
}
#sidebars.active {
    left: 0;
}

}






